
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/Surface-Defect-Detection-for-ceramic-tile.iml
.idea/modules.xml
.idea/vcs.xml
__pycache__/agent.cpython-36.pyc
__pycache__/agent.cpython-36.pyc
__pycache__/agent.cpython-36.pyc
__pycache__/agent.cpython-36.pyc
__pycache__/agent.cpython-36.pyc
